a {
  text-decoration: none;
  color: #000;
}
.nav_placeholder {
  height: 58px;
  position: relative;
}
.header {
  min-width: 960px;
  width: 100%;
  height: 58px;
  background-color: #1369bf;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.header .nav {
  width: 960px;
  height: 58px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}
.header .nav .logo:hover img:first-child {
  transform: rotate(180deg);
}
.header .nav .logo img {
  height: 28px;
  width: auto;
  transition: transform 0.6s ease-out;
}
.header .nav .logo img:last-child {
  margin-left: 6px;
  margin-right: 24px;
}
.header .nav .navList {
  display: flex;
  font-size: 16px;
  margin: 0 20px 0 40px;
}
.header .nav .navList .navItem {
  margin-right: 12px;
  padding: 8px 12px;
  cursor: pointer;
  position: relative;
}
.header .nav .navList .navItem:hover {
  transform: scale(0.9);
}
.header .nav .navList .navItem::after {
  content: "";
  width: 0;
  height: 3.5px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: all 0.15s;
}
.header .nav .navList .navItem.active:hover {
  transform: none;
}
.header .nav .navList .navItem.active::after {
  width: 100%;
  transition: all 0.3s;
}
.header .nav .search_container {
  position: relative;
}
.header .nav .search_container .suggest {
  position: absolute;
  top: 45px;
  left: 0;
  width: 360px;
  background-color: #fff;
  box-shadow: -0.5px 1px 4px #888888;
  max-height: calc(100vh - 65px);
  overflow-y: auto;
}
.header .nav .search_container .suggest a {
  color: #666c72;
  background-color: #f9f9f9;
  font-size: 14px;
  display: block;
  width: 100%;
  text-indent: 12px;
  position: relative;
  line-height: 30px;
}
.header .nav .search_container .suggest a img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  vertical-align: middle;
}
.header .nav .search_container .suggest a:hover {
  background-color: #edf0f5 !important;
}
.header .nav .search_container .suggest svg {
  position: absolute;
  font-size: 12px;
  right: 14px;
  top: 8px;
}
.header .nav .search_container .suggest span {
  position: relative;
}
.header .nav .search_container .suggest ::ng-deep i {
  width: 15px;
  height: 15px;
  position: relative;
  margin-right: 5px;
}
.header .nav .search_container .suggest ::ng-deep i svg {
  font-size: 15px;
  position: absolute;
  top: 0;
  left: 0;
}
.header .nav .search_container .suggest .clear {
  cursor: pointer;
  position: absolute;
  right: 14px;
  top: 8px;
}
.header .nav .search_container .suggest .clear:hover {
  color: #dd2200;
}
.header .nav .search_container .suggest ul a {
  color: #000;
  line-height: 35px;
  background-color: #fff;
}
.header .nav .search_container .suggest ul a span {
  margin-left: 12px;
}
.header .nav .search_container .suggest .history {
  padding: 2px 6px;
}
.header .nav .search_container .suggest .history a {
  color: #000;
  display: inline-block;
  box-sizing: border-box;
  width: auto;
  max-width: 150px;
  text-indent: 0;
  padding: 0 25px 0 15px;
  margin: 2px 6px;
  border-radius: 20px;
  line-height: 25px;
  position: relative;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.header .nav .search_container .suggest .history a i {
  position: absolute;
  right: 4px;
  top: 0px;
  color: #0077dd;
  line-height: 1;
  display: none;
}
.header .nav .search_container .suggest .history a i:hover {
  color: #dd2200;
}
.header .nav .search_container .suggest .history a:hover > i {
  display: block;
}
.header .nav .search {
  height: 32px;
  border-radius: 20px;
  padding: 0 15px;
  background-color: #fff;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  text-align: center;
}
.header .nav .search input {
  width: 170px;
  height: 20px;
  border: none;
  outline: none;
  color: #000;
}
.header .nav .search .searchIcon {
  width: 30px;
  height: 20px;
  cursor: pointer;
}
.header .nav .search .searchIcon svg {
  width: 1.5em;
  height: 1.2em;
}
.header .nav .login {
  flex: 1;
  text-align: right;
}
.header .nav .login svg {
  font-size: 20px;
  font-weight: 900;
  vertical-align: sub;
}
.header .nav .login a.btn_download {
  color: #fff;
  font-size: 13px;
  padding: 4px 5px;
  margin-right: 5px;
  position: relative;
}
.header .nav .login .qrcode_down {
  position: absolute;
  top: 35px;
  left: -51px;
  width: 160px;
  padding: 20px 0;
  text-align: center;
  background: #fff;
  color: #33353c;
  cursor: auto;
  box-shadow: 0 1px 2px 0 #d0caca;
  font-size: 14px;
}
.header .nav .login .qrcode_down .triangle {
  position: absolute;
  top: -4px;
  left: 75px;
  width: 10px;
  height: 4px;
}
.header .nav .login .qrcode_down .triangle path {
  fill: #fff;
}
.header .nav .login .qrcode_down .qrcode {
  width: 100px;
  height: 100px;
  background: #ecfaff url(../assets/images/16b8e6068a76e3fe7de5e17e.png) no-repeat;
  background-size: contain;
  margin: 5px auto auto;
}
.header .nav .login a.btn_login {
  color: #fff;
  font-size: 15px;
  padding: 6px 20px;
  margin-left: 25px;
  border-radius: 32px;
  border: 1px solid #fff;
}
.footer_bg {
  background-color: #f8fbfd;
  margin-top: 20px;
}
.footer_container {
  width: 960px;
  margin: 0 auto;
}
.footer_container .footer_hd {
  padding-top: 15px;
  overflow: hidden;
}
.footer_container .footer_hd .footer_about {
  float: left;
}
.footer_container .footer_hd .footer_about .about {
  overflow: hidden;
}
.footer_container .footer_hd .footer_about .about img {
  float: left;
  width: 194px;
  height: 50px;
  margin-right: 32px;
}
.footer_container .footer_hd .footer_about .about ul {
  margin-top: 15px;
  float: left;
}
.footer_container .footer_hd .footer_about .about ul li {
  font-size: 14px;
  float: left;
  list-style: none;
}
.footer_container .footer_hd .footer_about .about a:hover {
  color: #0077dd;
}
.footer_container .footer_hd .footer_about .about .point::after {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  margin: 0 8px;
  border-radius: 50%;
  background-color: #d8d8d8;
  vertical-align: middle;
}
.footer_container .footer_hd .footer_about p {
  clear: both;
  margin-top: 10px;
  font-size: 13px;
  color: #666c72;
}
.footer_container .footer_hd .about_business {
  float: right;
  font-size: 14px;
  width: 286px;
  margin-top: 12px;
  list-style: none;
}
.footer_container .footer_hd .about_business li {
  width: 82px;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}
.footer_container .footer_hd .about_business li svg {
  width: 18px;
  height: 18px;
  fill: #767c81;
  margin-right: 8px;
}
.footer_container .footer_hd .about_business li a:hover {
  color: #0077dd;
}
.footer_container .footer_hd .about_business li a:hover svg {
  fill: #0077dd;
}
.footer_container .footer_end {
  overflow: hidden;
  margin-top: 15px;
  border-top: 1px solid #edf0f5;
  padding-bottom: 15px;
}
.footer_container .footer_end .left {
  margin-top: 10px;
  float: left;
  color: #aeb2b7;
  font-size: 12px;
  line-height: 1.6;
}
.footer_container .footer_end .left a {
  color: #aeb2b7;
  margin-right: 8px;
}
.footer_container .footer_end .left a:hover {
  text-decoration: underline;
}
.footer_container .footer_end .left span {
  margin-right: 8px;
}
.footer_container .footer_end .right {
  margin-top: 20px;
  float: right;
}
.footer_container .footer_end .right a {
  margin-left: 15px;
}
.footer_container .footer_end .right a:hover > svg {
  fill: #0077dd;
}
.footer_container .footer_end .right svg {
  font-size: 30px;
  color: #666c72;
}
.spin_con {
  z-index: -1;
  position: absolute;
  left: 0;
  right: 0;
  height: calc(50vh);
  top: calc(42vh);
}
